<mat-drawer-container class="tp-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="header-grid">
        <div class="sub-header-grid">
          <div>
            <span class="header-title">Aadhaar Validation Desk
            </span>
          </div>
          <div style="text-align: right">
            <button mat-button [matMenuTriggerFor]="menu" class="right-align">
              <span>Admin</span>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" aligns="end">
              <button mat-menu-item (click)="gotoPage('login')">
                <mat-icon>remove_circle</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
