<mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Sign In
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="signInForm" (keyup.enter)="submit()">
    <div class="field">
      <mat-form-field>
        <input matInput type="text" name="user_id" formControlName="user_id" placeholder="Enter user id" required>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field>
        <input matInput appBlockCopyPaste type="password" formControlName="password" name="password"
          placeholder="Enter Password" required>
      </mat-form-field>
    </div>
  </form>
  <div class="button">
    <button [disabled]="!canSubmit()" (click)="submit()" mat-raised-button color="primary">Sign In
    </button>
  </div>
  <mat-action-row>
    <div>
      <button mat-button color="primary" (click)="openDialogWithTemplateRef(forgotPassword)">Forgot Password?</button>
    </div>
  </mat-action-row>
</mat-expansion-panel>
<app-message-dialog #messageDlg></app-message-dialog>

<ng-template #forgotPassword>
  <h2 matDialogTitle>Forgot Password</h2>
  <mat-dialog-content>
    <div class="right" style="color:blue;" *ngIf="forgot_password_flag == 'otp'">
      **OTP has been send to entered email
    </div>
    <div>
      <div class="field">
        <mat-form-field *ngIf="forgot_password_flag == 'email'">
          <input matInput type="email" placeholder="Enter User Email">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field *ngIf="forgot_password_flag == 'otp'">
          <input matInput type="text" placeholder="Enter OTP">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field *ngIf="forgot_password_flag == 'pass'">
          <input matInput type="password" placeholder="Enter password">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field *ngIf="forgot_password_flag == 'pass'">
          <input matInput type="password" placeholder="Enter confirm password">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="mat-button" (click)="changePassword()">
      <span *ngIf="forgot_password_flag != 'pass'">Next</span>
      <span *ngIf="forgot_password_flag == 'pass'">Submit</span>
    </button>
    <button matDialogClose class="mat-button">Cancel</button>
  </mat-dialog-actions>
</ng-template>