<div class="box-container">
  <div class="grid-2">
    <h2 class="mat-h2">{{module_name}} - Policy List</h2>
    <div class="right">
      <button mat-raised-button color="primary" (click)="gotoPage('dashboard')">Back</button>
    </div>
  </div>
  <div>
    <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
      <mat-tab label="Input Table">
        <div class="grid-3">
          <div></div>
          <div>
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input type="text" matInput (keyup)="applyFilter($event.target.value)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="right">
            <a mat-button>
              <mat-icon>refresh</mat-icon>
            </a>
            <button mat-raised-button color="default" (click)="processInput()" *ngIf="output_flag">Process</button>
          </div>
        </div>
        <mat-table #table [dataSource]="table_data">

          <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
            <ng-container *ngIf="disCol != 'edit'">
              <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
            </ng-container>
            <ng-container *ngIf="disCol == 'edit'">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
            </ng-container>
            <mat-cell *matCellDef="let element " style="cursor: default;"
              (click)="openDialogWithTemplateRef(editModule, element)">
              <span *ngIf="disCol != 'status'">{{element[disCol]}}</span>
              <span *ngIf="disCol == 'status'">{{element[disCol] || 'Pending'}}</span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>
      <mat-tab label="Output Table" [disabled]="output_flag">
        <div class="grid-3">
          <div></div>
          <div>
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input type="text" matInput (keyup)="applyFilterOutput($event.target.value)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="right">
            <a mat-button>
              <mat-icon>refresh</mat-icon>
            </a>
          </div>
        </div>
        <mat-table #table [dataSource]="output_table_data">

          <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
            <ng-container *ngIf="disCol != 'edit'">
              <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
            </ng-container>
            <ng-container *ngIf="disCol == 'edit'">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
            </ng-container>
            <mat-cell *matCellDef="let element " style="cursor: default;"
              (click)="openDialogWithTemplateRef(editModule, element)">
              <span *ngIf="disCol != 'status'">{{element[disCol]}}</span>
              <span *ngIf="disCol == 'status'">{{element[disCol] || 'Pending'}}</span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #editModule>
  <div class="grid-2">
    <h2 matDialogTitle>Policy Details</h2>
    <a class="right">
      <mat-icon matDialogClose style="font-size: medium!important;">close</mat-icon>
    </a>
  </div>
  <hr>
  <mat-dialog-content>
    <div class="grid-2">
      <ng-container *ngFor="let disCol of displayedColumns;">
        <div *ngIf="disCol != 'status' && disCol != 'edit'">
          <span>
            <span><b>{{disCol}}</b></span> :
            <span>{{edit_data[disCol]}}</span>
          </span>
        </div>
      </ng-container>
    </div>
  </mat-dialog-content>
  <hr>
  <div *ngIf="tabIndex == 1">
    <mat-dialog-actions align="center" *ngIf="!set_status">
      <button mat-raised-button style="background-color: green!important;color: whitesmoke;"
        (click)="statusSet(true)">Accept</button>
      <button mat-raised-button color="warn" (click)="statusSet(false)">Reject</button>
    </mat-dialog-actions>
    <div *ngIf="set_status" [ngClass]="(status_flag==true)?'accept':'reject'">
      <div class="center" *ngIf="status_flag && set_status">
        <span style="color: green!important"><b>
            <mat-icon>done_outline</mat-icon>Accepted
          </b></span>
      </div>
      <div class="center" *ngIf="!status_flag && set_status">
        <span style="color: red!important"><b>
            <mat-icon>close</mat-icon>Rejected
          </b></span>
      </div>
      <mat-dialog-actions align="center" *ngIf="set_status">
        <form>
          <div class="field" *ngIf="status_flag">
            <mat-form-field>
              <mat-label>Label 1</mat-label>
              <mat-select></mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field>
              <mat-label>Reason</mat-label>
              <mat-select></mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        </form>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>